/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Sep 11, 2014, 1:38:31 AM
    Author     : Jeff
*/

.form{
    margin-bottom:  10px;
}

a{
    color: #676767;
}

/* mouse over link */
a:hover {
    text-decoration: none;
    color: white;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #167bbf;
}

/* selected link */
a:active {
    color: #0000FF;
}


#sliderWrite{
    margin: 0;
    padding: 0;
    margin-top: -75px;

}

#bodywrap{
    padding-left: 0px;
    padding-right: 0px;
}


.thumb-table{
    display: table;

}

.thumb-wrap{
    display: table-cell;
    height: 200px;

}

.thumb-wrap img{
    white-space: nowrap;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;

}

.nwrap{
    white-space: nowrap;
}

.transp{
    z-index: 999;
}

li {
    /*    font-size: 18px;*/
}

.address {
    text-align: center;
}

p {
    font-size: 25px;

}

body {
    color: #676767;

}

h1{
    font-size: 2em;
}

h3{
    font-size: 1em;
}

.textAdjust{
    font-size: 16px;

}

.footerBar{
    font-size: 18px;
    background-color: #163465;
    min-height: 70px;
    padding-top: 10px;

}

.indexContent{
    margin-top: 40px;
}




.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    line-height: 1;
    width: 99%;
}

#equipment a{
    vertical-align: super;
    margin-left: 53px;
}

#products a{
    vertical-align: super;
    margin-left: 42px;
}

#employment a{
    vertical-align: super;
    margin-left: -9px;
}

#equipment a:hover, #products a:hover, #employment a:hover{
    color: #167bbf

}

#equipment ul, #products ul, #employment ul{
    margin: 0;
    padding: 0;

}

#equipment{
    padding-left: 0;
    background: url('/images/gears.png') no-repeat;
    margin-left: -39px;
    list-style-type: none;
    margin-top: -39px;
    font-size: 2em;
}

#products{
    padding-left: 0;
    background: url('/images/pliers.png') no-repeat;
    margin-left: -52px;
    list-style-type: none;
    margin-top: -39px;
    font-size: 2em;
}

#employment{
    padding-left: 0;
    list-style-image: url('/images/man.png');
    list-style-type: none;
    margin-top: -42px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 2em;
}

#footer hr{
    margin-top: -2px;
    background-color: white;
    height: 1px;
}

.footText{
    color: white;
    font-size: 1em;
    margin-top: -15px;
}

.footTitle{
    color: white;
    font-size: 2em;
    margin-bottom: 2.5px;
}

.footCopyrightText{
    font-size: 12px;
    color: white;
    margin-top: 20px;
    margin-top: 10px;
}

.footBadgeSpace{
    padding-left: 10px;
    padding-right: 10px;

}

.textPadding{
    margin-left: 20px;
}
.logoAdjust{
    margin-top: -15px;
    margin-left: -30px;

}

.underNavIndex{
    padding-top: 85px;

}

.underNavElse{
    padding-top: 15px;

}

@media (max-width: 767px) {
    #equipment, #employment, #products{
        margin-top: 50px;
    }

    #footer{
        background-color: #167bbf;
        margin-top: 80px;
    }

    #leftnav{
        margin-bottom: 80px;
        padding-left: 80px;
    }

    #centernav{
        margin-bottom: 80px;
        padding-left: 50px;
    }

    #rightnav{
        margin-bottom: 80px;
    }

    .transp img{
        z-index: 999;
        padding-bottom: 50px;
    }

}

@media (max-width: 992px) {

    #leftnav li, #rightnav li{
        margin-left: 40px;
    }

    #equipAdjust{
        margin-left: -10px;
    }


    #footer{
        background-color: #167bbf;
        margin-top: 80px;
    }

    .arrangeThumbs img{
        height: 85px;
        width:  150px;

    }

}



@media (min-width: 992px) {

    #footer{
        background: url('/images/footertool.png') no-repeat top right;
        background-size: contain;
        background-color: #167bbf;
        margin-top: 80px;
    }

    .arrangeThumbs{
        margin-top: 50px;
    }

    .arrangeThumbs img{
        height: 125px;
        width:  190px;
    }

    #leftnav li{
        margin-right: 31px;
        padding-right: 10px;
        padding-left: 10px;
    }

    #rightnav li{
        margin-left: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    #leftnav{
        float: right;
        margin-top: 30px;
        margin-right: 31px;
    }

    #rightnav{
        float: left;
        margin-top: 30px;
        margin-left: 31px;
    }

}

