/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Sep 11, 2014, 1:38:31 AM
    Author     : Jeff
*/

.form{
    margin-bottom:  10px;
}

a{
    color: #676767;
}

/* mouse over link */
a:hover {
    text-decoration: none;
    color: white;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #167bbf;
}

/* selected link */
a:active {
    color: #0000FF;
}


#sliderWrite{
    margin: 0;
    padding: 0;
    margin-top: -75px;

}

#bodywrap{
    padding-left: 0px;
    padding-right: 0px;
}

.thumb-table{
    display: table;

}

.thumb-wrap{
    display: table-cell;
    height: 200px;

}

.thumb-wrap img{
    white-space: nowrap;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;

}

.nwrap{
    white-space: nowrap;
}

.transp{
    z-index: 999;
}

li {
    /*    font-size: 18px;*/
}

.address {
    text-align: center;
}

p {
    font-size: 25px;

}

body {
    color: #676767;

}

h1{
    font-size: 2em;
}

h3{
    font-size: 1em;
}
.footerBar{
    font-size: 18px;
    background-color: #163465;
    min-height: 70px;
    padding-top: 10px;
}

.indexContent{
    margin-top: 40px;
}


#leftnav li{
    margin-right: 20px;

}

#rightnav li{
    margin-right: 9px;
}

#leftnav{
    float: right;
    margin-top: 30px;

}

#rightnav{
    float: left;
    margin-top: 30px;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.transition-timer-carousel .carousel-caption {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: left;
    padding-top: 5px;
    padding-left: 15%;
    padding-right: 15%;
}
.transition-timer-carousel .carousel-caption .carousel-caption-header {
    margin-top: 10px;
    font-size: 24px;
}

@media (min-width: 970px) {
    /* Lower the font size of the carousel caption header so that our caption
    doesn't take up the full image/slide on smaller screens */
    .transition-timer-carousel .carousel-caption .carousel-caption-header {
        font-size: 36px;
    }
}
.transition-timer-carousel .carousel-indicators {
    bottom: 0px;
    margin-bottom: 5px;
}
.transition-timer-carousel .carousel-control {
    z-index: 11;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar {
    height: 5px;
    background-color: #5cb85c;
    width: 0%;
    margin: -5px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
}
.transition-timer-carousel .transition-timer-carousel-progress-bar.animate{
    /* We make the transition time shorter to avoid the slide transitioning
    before the timer bar is "full" - change the 4.25s here to fit your
    carousel's transition time */
    -webkit-transition: width 4.25s linear;
    -moz-transition: width 4.25s linear;
    -o-transition: width 4.25s linear;
    transition: width 4.25s linear;
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    line-height: 1;
    width: 99%;
}

#equipment a{
    vertical-align: super;
    margin-left: 53px;
}

#products a{
    vertical-align: super;
    margin-left: 42px;
}

#employment a{
    vertical-align: super;
    margin-left: -9px;
}

#equipment a:hover, #products a:hover, #employment a:hover{
    color: #167bbf

}

#equipment ul, #products ul, #employment ul{
    margin: 0;
    padding: 0;

}

#equipment{
    padding-left: 0;
    background: url('/images/gears.png') no-repeat;
    margin-left: -39px;
    list-style-type: none;
    margin-top: -39px;
    font-size: 2em;
}

#products{
    padding-left: 0;
    background: url('/images/pliers.png') no-repeat;
    margin-left: -52px;
    list-style-type: none;
    margin-top: -39px;
    font-size: 2em;
}

#employment{
    padding-left: 0;
    list-style-image: url('/images/man.png');
    list-style-type: none;
    margin-top: -42px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 2em;
}

#footer hr{
    margin-top: -2px;
    background-color: white;
    height: 1px;
}

.footText{
    color: white;
    font-size: 1em;
}

.footTitle{
    color: white;
    font-size: 2em;
    margin-bottom: -5px;
}

.footCopyrightText{
    font-size: 16px;
    color: white;
    margin-top: 20px;
}

.textPadding{
    margin-left: 20px;
}

@media (max-width: 767px) {
    #equipment, #employment, #products{
        margin-top: 50px;
    }

    #footer{
        background-color: #167bbf;
        margin-top: 80px;
    }

}

@media (max-width: 992px) {
    #leftnav li, #rightnav li{
        margin-right: 10px;
    }

    #footer{
        background-color: #167bbf;
        margin-top: 80px;
    }

}

@media (min-width: 992px) {

    #footer{
        background: url('/images/footertool.png') no-repeat top right;
        background-size: contain;
        background-color: #167bbf;
        margin-top: 80px;


    }

}




